{{>partials/header}}

<a href="">Adicionar Usuário</a>

<table border="1" width="100%">
    
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>AÇÕES</th>
    </tr>

    {{#users}}
    <tr>
        <th>{{id}}</th>
        <th>{{nome}}</th>
        <th>{{email}}</th>
    </tr>
    {{/users}}

</table>

{{>partials/footer}}